lora_gateway_bridge:
  version: 2.1.0
  allow_connections_from:
    - your.ip.address.here
  configuration:
    MQTT_SERVER: tcp://localhost:1883/

loraserver:
  version: 0.9.2
  allow_connections_from:
    - your.ip.address.here
  tls_certificate:
    domain: example.com
    email: example@example.com
    accept_letsencrypt_tos: False
  configuration:
    NET_ID: "010203"
    BAND: EU_863_870
    DB_AUTOMIGRATE: true
    POSTGRES_DSN: postgres://loraserver:loraserver@localhost/loraserver?sslmode=disable
    # JWT_SECRET: yourjwtsecret
    HTTP_BIND: 0.0.0.0:443
    HTTP_TLS_CERT: /opt/loraserver/certs/fullchain.pem
    HTTP_TLS_KEY: /opt/loraserver/certs/privkey.pem

iptables:
  public_tcp_ports:
    - 22
    - 80

mosquitto:
  allow_connections_from:
    - your.address.ip.here

postgresql:
  databases:
    - name: loraserver
      user: loraserver
      password: loraserver
