[single_server]
example.com                                ansible_ssh_user=root

[loraserver:children]
single_server

[lora_app_server:children]
single_server

[lora_gateway_bridge:children]
single_server

[mosquitto:children]
single_server

[postgresql:children]
single_server

[redis:children]
single_server

[loraserver_hosts:children]
loraserver
lora_gateway_bridge
lora_app_server
mosquitto
postgresql
redis
