[Unit]
Description=lora-app-server
After=redis.service postgresql.service

[Service]
User=appserver
Group=appserver
ExecStart=/opt/lora-app-server/bin/lora-app-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
